.main {
  padding: 25px;
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  min-height: 250px;
  text-align: center;
}

.header {
  background: #179b1b;
  color: white;
  padding: 15px;
  text-align: center;
  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column; /* biar judul di atas, menu di bawah */
  align-items: center;
}

.footer {
  background: #ffafcc;
  text-align: center;
  padding: 12px;
  color: #333;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  max-height: 100%;
}

.layout {
  max-width: 600px;
  margin: auto;
  border: 2px solid #dee2e6;
  border-radius: 10px;
  background: black;
  box-shadow: 0px 4px 10px rgba(18, 18, 223, 0.15);
}

.input-bar {
  width: 250px;
  padding: 8px 12px;
  margin-right: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
